section section {
        background: linear-gradient(0deg, #000000 -50%, rgba(0,0,0,0) 50%);
}

iframe{
box-shadow: 10px 10px 16px 0px #000000;
}

h1 .text-primary {
    text-shadow: 10px 10px 16px #000000;
}

.title a {
    text-shadow: 10px 10px 16px #000000;
}

.description {
    text-shadow: 10px 10px 16px #000000;
}

b {
    text-shadow: 10px 10px 16px #000000;
}

.copyright-text a {
    text-shadow: 10px 10px 16px #000000;
}

.rose {
        text-shadow: 10px 10px 16px #000000;
}

.smoothScroll {
        text-shadow: 10px 10px 16px #000000;
}